.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
    gap: 15px;
    padding: 15px;
    border-radius: 10px;
}

.input {
    font-family: inherit;
    font-size: 16px;
    color: inherit;
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    background-color: #191919;
    border-radius: 10px;
    padding: 5px 10px;
}

.input::placeholder {
    font-size: 15px;
}

.buttonDefault {
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: 0.1s;
    max-width: 80px;
}

#buttonFind {
    background-color: var(--main_color);
}

#buttonFind:hover {
    background-color: var(--main_color_dark);
}

#buttonReset {
    background-color: #ff4444;
}

#buttonReset:hover {
    background-color: #ff1515;
}

#status {
    border-left: 2px solid darkorange;
    padding: 5px 10px;
    font-size: 16px;
    margin-top: 10px;
    text-transform: capitalize;
}

#status > span {
    color: darkgray;
}
